* { margin: 0; padding: 0; }

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background: #fff;
    color: #333;
}

main {
    display: grid;
    grid-template-areas: ". header header ."
                         ". article article .";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px auto;
}

table th {
    border: 1px solid #d4d4d4;
    padding: 10px;
    background: #f4f4f4;
}

table tr {
}

header {
    grid-area: header;
    justify-self: center;
}

article {
    grid-area: article;
    justify-self: center;
}

article form input, select{
    display: grid;
    width: 200px;
    padding: 5px;
    background: #f4f4f4;
    border: 1px solid #d4d4d4;
    margin-bottom: 10px;
}

article form input[type=submit]{
    background: #2873ed;
    color: #fff;
    font-weight: bold;
    width: 90px;
    border: 0;
}